<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="I'm a Software Developer based in New York City. I can provide tangible progress and value to your next project!">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/indexstyle.css">
    <title>Full-Stack Web & Software Development | New York, NY</title>
</head>
<body>
<nav class="navbar ">
    <a class="navbar-brand navbar-custom justify-content-start" href="/">
        William Guerrero
        <small>Software Developer</small>
    </a>

    <div class="">
        <ul class="nav nav-pills navbar-custom justify-content-end">
            <li class="nav-item pill-1">
                <a class="nav-link active" href="/">About</a>
            </li>
            <li class="nav-item pill-2">
                <a class="nav-link" href="/projects">Portfolio</a>
            </li>
            <li class="nav-item pill-3">
                <a class="nav-link" href="mailto:william.e.guerr@gmail.com">william.e.guerr@gmail.com</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
          <img src="static/img/IMG_1975_2.jpg" class="rounded-circle float-left" alt="profile" height="200">
            <h1 class="jumbotron-heading">Welcome!</h1>
          <p class="lead text-muted">I'm a Dominican-American Software Developer based in New York City. <br> Here's bit about me and the value I can bring to your team!</p>
        </div>
      </section>
</main>
<footer>

</footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>